
#gant {
    width: 165px;
    height: 40px;
    background-image: url("../images/leftmenu.jpg");
    background-position: 0px -5px;
}

#gauge {
    width: 165px;
    height: 40px;
    background-image: url("../images/leftmenu.jpg");
    background-position: 0px -42px;
}

#line {
    width: 165px;
    height: 40px;
    background-image: url("../images/leftmenu.jpg");
    background-position: 0px -83px;
}


#chart_div {
    display: none;
    text-align: center;
}

#gauge_div {
    display: none;
    text-align: center;
}

#line_div {
    display: none;
    text-align: center;
}
