
.phase {
    border: 1px solid #AAAAAA;
    text-align: justify;
    border-radius: 10px;
    /* Included for compatibility */
    -moz-border-raidus:10px;
    -webkit-border-radius:10px;
    
    box-shadow: 5px 5px 5px #888888;
    
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
}
/*
ol {
    position: relative;
    left: 35%;
}
*/

.button[name="consumption"] {
    background-image: none;
    background-color: #70a2e3;
}
