/* 
    Document   : overview
    Created on : 13-ene-2012, 18:01:31
    Author     : Aitor
    Description:
        Purpose of the stylesheet follows.
*/
/*
button:focus {
    This is the transition target style
    background-image: none;
    background-color: #70a2e3;
}
*/
.button[name="overview"] {
    background-image: none;
    background-color: #70a2e3;
}

.wardrobe {
    width: 100px; 
    height: 80px; 
    border: 1px solid #AAAAAA;
    text-align: center;
    margin-bottom: 5px;
    
}

.disabled_wardrobe {
    width: 100px; 
    height: 80px; 
    border: 1px solid #AAAAAA;
    text-align: center;
    margin-bottom: 5px;
    background-color: #999999;
}

#wardrobe-view {
    width: 420px; 
    float: left;
    margin-bottom: 11px;
    
    border: 1px solid #CCCCCC;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    -moz-border-raidus:10px;
    -webkit-border-radius:10px;
    
    background-image: linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -o-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -moz-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -webkit-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -ms-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.21, #E8F2FF),
            color-stop(0.71, #70A2E3),
            color-stop(0.91, #70A2E3)
    );
    position: absolute; 
/* DANGER!!! */
}

#wardrobe-schema {
    /*border-style: dashed;
    border-width: 1px;*/
    margin-top: 30px;
    margin-left: 25px;
    width: 180px;
    text-align: center;
}

table {
    empty-cells: show;
    font-size: 13px;
    padding-bottom: 25px;
}

.machine {
    /*height: 25px;*/
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.shady-machine {
    /*height: 25px;*/
    border-style: solid;
    border-width: 1px;
    background-color: grey;
}

.gap {
    border-style: dashed;
    border-width: 1px;
}

#war-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.war-button {
    margin-left: 230px; 
    position: absolute; 
    left: 20px; 
    width: 120px;
}
