/* 
    Document   : overview
    Created on : 13-ene-2012, 18:01:31
    Author     : Aitor
    Description:
        Purpose of the stylesheet follows.
*/
/*
button:focus {
    This is the transition target style
    background-image: none;
    background-color: #70a2e3;
}
*/
.button[name="overview"] {
    background-image: none;
    background-color: #70a2e3;
}

.wardrobe {
    width: 100px; 
    height: 80px; 
    border: 1px solid #AAAAAA;
    text-align: center;
    margin-bottom: 5px;
    cursor: url("https://163.117.142.145/pfc/images/magnifyingglass.gif"), pointer;
}

.disabled_wardrobe {
    width: 100px; 
    height: 80px; 
    border: 1px solid #AAAAAA;
    text-align: center;
    margin-bottom: 5px;
    background-color: #999999;
    cursor: url("https://163.117.142.145/pfc/images/network_rack_add_grey.jpg"), pointer;
}

#rac-view {
    width: 380px; 
    float: left;
    margin-bottom: 11px;
    margin-left: 11px;
    
    border: 1px solid #CCCCCC;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
    -moz-border-raidus:10px;
    -webkit-border-radius:10px;
    
    background-image: linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -o-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -moz-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -webkit-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -ms-linear-gradient(bottom, #E8F2FF 21%, #70A2E3 71%, #70A2E3 91%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.21, #E8F2FF),
            color-stop(0.71, #70A2E3),
            color-stop(0.91, #70A2E3)
    );
    
}

#rac-schema {
    /*border-style: dashed;
    border-width: 1px;*/
    margin-top: 30px;
    margin-left: 25px;
    width: 150px;
    text-align: center;
    empty-cells: show;
    font-size: 13px;
    padding-bottom: 25px;
}

.Bright-machine {
    /*height: 25px;*/
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.Dark-machine {
    /*height: 25px;*/
    border-style: solid;
    border-width: 1px;
    background-color: grey;
}

.gap {
    border-style: dashed;
    border-width: 1px;
}

#war-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.war-button {
    width: 120px;
    margin-top: 30px;
}

#rac-info {
    margin-top: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: 'Times New Roman',Times,serif;
    font-size: 16px;
    float: right; 
    width: 150px;
    text-align: center;
}

.machine-tabed-li {
    list-style:none inside none; 
    margin-left: 15px;
}

#responsible-information {
    float: left; 
    margin-left: 10px;
}

#machine-view-content {
    padding-left: 15px; 
    padding-top: 15px;
}

#machine-information {
    float: right; 
    margin-right: 12%; 
    border: 1px #2575cf dashed;
}

.machine-paragraph {
    margin-bottom: 5%;
}

.machine-notes {
    margin-top: 15px; 
    text-align: justify;
}

#chart_div {
    display: none;
    width: 100%; 
    height: 150px; 
    border: 1px #2575cf dashed; 
    margin-top: 5px;
}
